@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.bg-info {
  background-color: rgb(94, 6, 6);
}

:root {
  --main-background: #aad7f0;
  --ques-color: #ede8d3;
  --logo-color: #5078de;
  --logo2-color: #e3448e;
  --color1: #ffcce9;
}

.image {
  width: 10%;
}

.logo {
  justify-content: center;
  /* justify-content: space-between; */
  /* vertical-align: middle; */
}
#logo-text {
  /* font-family: 'Lora', serif; */
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 5rem;
  color: var(--logo-color);
}
#logo2 {
  color: var(--logo2-color);
}

#form {
  background-color: var(--color1);
}

.index-main {
  display: flex;
  justify-content: center;
}

.index-header {
  margin: 0px auto;
  /* text-align: center; */
}

.button {
  text-align: center;
  margin: 50px auto;
}

.btn-hover-effect {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  border: 1px groove rgba(255, 255, 255, 0.822);
  background: #b801c9;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-hover-effect:hover {
  color: #00c3ff;
  animation-name: play-effect;
  animation-duration: 0.4s;
  animation-iteration-count: 2;
}
